<h2>Hola soy Nosotros</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores veniam eius est, nesciunt delectus voluptatibus numquam non similique quisquam quae, quo, qui doloribus commodi saepe iure beatae. Repudiandae, tempora eveniet!</p>

<button><a href="/">HOME</a></button>