<h2>Hola soy la pagina de Novedades</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quidem iusto aspernatur explicabo omnis sint ea nulla
    nesciunt voluptates natus. Quidem non id, assumenda alias veniam esse quam quod recusandae.</p>