@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
}
#contenedor {
	background: #8FA68E;
	width: 100%;
}
nav {
	background: skyblue;
	width: 100%;
	transition: all 2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav:hover {
	background: lightsalmon;
}
ul {
	transform: translate(-20px);
	list-style-type:none;
}



li{
	transform: scale(1);
	transition: all 2s ease;
}

@keyframes Links {
	20% { transform: rotate(0deg) scale(1.5);}
	40% { transform: rotate(90deg) scale(1.5);}
	60% { transform: rotate(180deg) scale(1.5);}
	80% { transform: rotate(270deg) scale(1.5);}
	100% { transform: rotate(360deg) scale(1.5);}
}


a {
	color:#F1F2C0;
	text-decoration: none;	
}

li:hover {
	animation: Links 5s ease;
	animation-iteration-count: 10;
}

section {
	margin: 0;
	background: #8f912c;
	width: 100%;
}
aside {
	background: #CCC59E;
	width: 100%;
}
