footer{
    width: 100%;
    background: #CCC;
    clear: both;
    color: #333;
    padding: 3em 0;
    bottom: 0;
    margin-top: auto;
}

footer p{
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    margin: 0;
}