footer {
    background-color: gray;
    color: white;
    padding: 0.5em 0;
    text-align: center;
    margin-top: auto;    
}

footer .redes {
    float: right;
}

.fa-brands {
    font-size: 40px;
    padding: 0 15px 0 15px;
    color: white;
}

.fa-brands:hover {
    cursor: pointer;
    color: black;
}

a {
    color: black;
}