<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
      <header>
        <div class="holder">
            <img src="/images/logo.png" width="100" alt="Transporte X">
            <h1>Transporte X</h1>
        </div>
    </header>

    {{{body}}}
  </body>
  <footer>
        <p>Diseñado por Matías Eaton - &copy;2022</p>
</footer>
</html>
